<html>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="" href="" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>Kiki's Weather Report</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/actual/">Actual Data</a>
    <a href="/forecast/">Forecast</a>

    <h1>Welcome to Kiki's Weather Report</h1>
    <p>Get weather info of Córdoba, Argentina</p>

    <button id="saludar">Saludar</button>
  </body>

  <script src="/src/scripts/main.js"></script>
</html>